<a href="https://colab.research.google.com/github/Rahul-Chouhan-407/Practice_and_Assignments/blob/main/Healthcare_Stroke_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("/content/healthcare-dataset-stroke-data-1.csv")

In [ ]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5110 entries, 0 to 5109
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 5110 non-null   int64
 1   gender             5110 non-null   object
 2   age                5110 non-null   float64
 3   hypertension       5110 non-null   int64
 4   heart_disease      5110 non-null   int64
 5   ever_married       5110 non-null   object
 6   work_type          5110 non-null   object
 7   Residence_type     5110 non-null   object
 8   avg_glucose_level  5110 non-null   float64
 9   bmi                4909 non-null   float64
 10  smoking_status     5110 non-null   object
 11  stroke             5110 non-null   int64
dtypes: float64(3), int64(4), object(5)
memory usage: 479.2+ KB

In [ ]:
df.describe()

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,stroke
count,5110.000000,5110.000000,5110.000000,5110.000000,5110.000000,4909.000000,5110.000000
mean,36517.829354,43.226614,0.097456,0.054012,106.147677,28.893237,0.048728
std,21161.721625,22.612647,0.296607,0.226063,45.283560,7.854067,0.215320
min,67.000000,0.080000,0.000000,0.000000,55.120000,10.300000,0.000000
25%,17741.250000,25.000000,0.000000,0.000000,77.245000,23.500000,0.000000
50%,36932.000000,45.000000,0.000000,0.000000,91.885000,28.100000,0.000000
75%,54682.000000,61.000000,0.000000,0.000000,114.090000,33.100000,0.000000
max,72940.000000,82.000000,1.000000,1.000000,271.740000,97.600000,1.000000

In [ ]:
df.isnull().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [ ]:
value_count = df['gender'].value_counts()

print("Number of occurrences of Value_To_Count:", value_count)

Number of occurrences of Value_To_Count: Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [ ]:
#Compute the ratio of people getting strokes residing in urban and rural areas?

# Count the number of people getting strokes in urban and rural areas
urban_strokes = df[(df['stroke'] == 1) & (df['Residence_type'] == 'Urban')].shape[0]
rural_strokes = df[(df['stroke'] == 1) & (df['Residence_type'] == 'Rural')].shape[0]

# Compute the ratio of strokes in urban to rural areas
urban_to_rural_ratio = urban_strokes / rural_strokes

print('Ratio of strokes in urban to rural areas:', urban_to_rural_ratio)
print(urban_strokes)
print(rural_strokes)

Ratio of strokes in urban to rural areas: 1.1842105263157894
135
114

In [ ]:
value_count = df['Residence_type'].value_counts()

print("Number of occurrences of Value_To_Count:", value_count)

Number of occurrences of Value_To_Count: Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [ ]:
ht = df['hypertension'].value_counts()

print("Number of occurrences of Value_To_Count:", ht)

Number of occurrences of Value_To_Count: 0    4612
1     498
Name: hypertension, dtype: int64

In [ ]:
hd = df['heart_disease'].value_counts()

print("Number of occurrences of Value_To_Count:", hd)

Number of occurrences of Value_To_Count: 0    4834
1     276
Name: heart_disease, dtype: int64

In [ ]:
st = df['stroke'].value_counts()

print("Number of occurrences of Value_To_Count:", st)

Number of occurrences of Value_To_Count: 0    4861
1     249
Name: stroke, dtype: int64

In [ ]:
num_rural_high_glucose = len(df[(df['Residence_type'] == 'Rural') & (df['avg_glucose_level'] > 85)])
print(num_rural_high_glucose)

1547