<a href="https://colab.research.google.com/github/Rahul-Chouhan-407/Practice_and_Assignments/blob/main/K_Means_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('/content/Live.csv')

In [3]:
df.head()

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
0,246675545449582_1649696485147474,video,4/22/2018 6:00,529,512,262,432,92,3,1,1,0,NaN,NaN,NaN,NaN
1,246675545449582_1649426988507757,photo,4/21/2018 22:45,150,0,0,150,0,0,0,0,0,NaN,NaN,NaN,NaN
2,246675545449582_1648730588577397,video,4/21/2018 6:17,227,236,57,204,21,1,1,0,0,NaN,NaN,NaN,NaN
3,246675545449582_1648576705259452,photo,4/21/2018 2:29,111,0,0,111,0,0,0,0,0,NaN,NaN,NaN,NaN
4,246675545449582_1645700502213739,photo,4/18/2018 3:22,213,0,0,204,9,0,0,0,0,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7050 entries, 0 to 7049
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   status_id         7050 non-null   object
 1   status_type       7050 non-null   object
 2   status_published  7050 non-null   object
 3   num_reactions     7050 non-null   int64
 4   num_comments      7050 non-null   int64
 5   num_shares        7050 non-null   int64
 6   num_likes         7050 non-null   int64
 7   num_loves         7050 non-null   int64
 8   num_wows          7050 non-null   int64
 9   num_hahas         7050 non-null   int64
 10  num_sads          7050 non-null   int64
 11  num_angrys        7050 non-null   int64
 12  Column1           0 non-null      float64
 13  Column2           0 non-null      float64
 14  Column3           0 non-null      float64
 15  Column4           0 non-null      float64
dtypes: float64(4), int64(9), object(3)
memory usage: 881.4+ KB

In [5]:
df.describe()

,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys,Column1,Column2,Column3,Column4
count,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,7050.000000,0.0,0.0,0.0,0.0
mean,230.117163,224.356028,40.022553,215.043121,12.728652,1.289362,0.696454,0.243688,0.113191,NaN,NaN,NaN,NaN
std,462.625309,889.636820,131.599965,449.472357,39.972930,8.719650,3.957183,1.597156,0.726812,NaN,NaN,NaN,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
25%,17.000000,0.000000,0.000000,17.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
50%,59.500000,4.000000,0.000000,58.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
75%,219.000000,23.000000,4.000000,184.750000,3.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN,NaN,NaN
max,4710.000000,20990.000000,3424.000000,4710.000000,657.000000,278.000000,157.000000,51.000000,31.000000,NaN,NaN,NaN,NaN

In [6]:
df.isnull().sum()

status_id              0
status_type            0
status_published       0
num_reactions          0
num_comments           0
num_shares             0
num_likes              0
num_loves              0
num_wows               0
num_hahas              0
num_sads               0
num_angrys             0
Column1             7050
Column2             7050
Column3             7050
Column4             7050
dtype: int64

In [7]:
df.shape

(7050, 16)

In [9]:
df = df.drop(['Column1','Column2','Column3','Column4'], axis = 1)

In [10]:
df.shape

(7050, 12)

In [13]:
df['status_id'].nunique()

6997

In [14]:
# Count the number of rows where status_type is equal to "video"
num_videos = len(df[df["status_type"] == "video"])

print("Number of video posts:", num_videos)

Number of video posts: 2334

How many likes have been given to the photo posted on 4/19/2018 at 22:26?

293
493
359
379

In [17]:
# Filter the data for the given date and time
mask = (df['status_published'] == '2018-04-19 22:26:00')

In [21]:
print(df[df["status_published"] == "4/19/2018 22:26"])

                            status_id status_type status_published  \
4592  725980084255106_850951205091326       photo  4/19/2018 22:26

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
4592            383             5           6        379          2         2

      num_hahas  num_sads  num_angrys
4592          0         0           0

How many total shares were made for the video post that was posted on 7/15/2017 at 10:52?

139
173
153
167

In [23]:
print(df[df["status_published"] == "7/15/2017 10:52"])

                              status_id status_type status_published  \
6977  1050855161656896_1339706342771775       video  7/15/2017 10:52

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
6977            253          4432         167        209         29         5

      num_hahas  num_sads  num_angrys
6977          5         5           0

In [27]:
colour=['red','blue','green','yellow','cyan']  
n=0  
for i in range(0,len(colour)):  
  plt.scatter(X[df['Clusters(5)']==i], Y[df['Clusters(5)']==i], s=10,c=colour[i]) 
  plt.scatter(k.cluster_centers_[:,0] ,k.cluster_centers_[:,1], color='black')

NameError: ignored

In [30]:
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

# Load data and perform standard scaling
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df)

# Initialize and fit K-means model with k=5
kmeans = KMeans(n_clusters=5, random_state=42)
kmeans.fit(df_scaled)

# Calculate inter-cluster variance
inter_cluster_var = kmeans.inertia_

print("Inter-cluster variance: ", inter_cluster_var)

ValueError: ignored

In [29]:
# Create dummy variables for the status_type column
dummy_cols = pd.get_dummies(df['status_type'], prefix='status')
# The prefix argument adds a prefix to the column names of the dummy variables

# Concatenate the dummy variables with the original data
df_encoded = pd.concat([df, dummy_cols], axis=1)

# Drop the original status_type column if needed
df_encoded.drop('status_type', axis=1, inplace=True)

# Show the encoded data
print(df_encoded.head())

                          status_id status_published  num_reactions  \
0  246675545449582_1649696485147474   4/22/2018 6:00            529
1  246675545449582_1649426988507757  4/21/2018 22:45            150
2  246675545449582_1648730588577397   4/21/2018 6:17            227
3  246675545449582_1648576705259452   4/21/2018 2:29            111
4  246675545449582_1645700502213739   4/18/2018 3:22            213

   num_comments  num_shares  num_likes  num_loves  num_wows  num_hahas  \
0           512         262        432         92         3          1
1             0           0        150          0         0          0
2           236          57        204         21         1          1
3             0           0        111          0         0          0
4             0           0        204          9         0          0

   num_sads  num_angrys  status_link  status_photo  status_status  \
0         1           0            0             0              0
1         0           0            0             1              0
2         0           0            0             0              0
3         0           0            0             1              0
4         0           0            0             1              0

   status_video
0             1
1             0
2             1
3             0
4             0