<a href="https://colab.research.google.com/github/Rahul-Chouhan-407/Practice_and_Assignments/blob/main/Logistic_Regression_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [2]:
df = pd.read_csv("/content/census-income .csv")

In [3]:
# Step 2: Exploratory Data Analysis

# Check for missing values
df = df.replace('?', np.nan)

In [24]:
print(df.isnull().sum())

age               0
workclass         0
education         0
education-num     0
occupation        0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
annual_income     0
dtype: int64

In [25]:
# Drop the rows with missing values
df.dropna(inplace=True)

# Check the new shape of the dataframe
print(df.shape)

(30162, 10)

In [26]:
# Check data distributions
df.describe()

,age,workclass,education,education-num,occupation,sex,capital-gain,capital-loss,hours-per-week
count,3.016200e+04,30162.000000,30162.000000,3.016200e+04,30162.000000,30162.000000,3.016200e+04,3.016200e+04,3.016200e+04
mean,-6.124962e-18,2.199324,10.333764,-3.993004e-17,5.959850,0.675685,-1.884604e-17,-6.431210e-17,5.653811e-18
std,1.000017e+00,0.953925,3.812292,1.000017e+00,4.029566,0.468126,1.000017e+00,1.000017e+00,1.000017e+00
min,-1.632189e+00,0.000000,0.000000,-3.577051e+00,0.000000,0.000000,-1.474446e-01,-2.185860e-01,-3.333218e+00
25%,-7.946967e-01,2.000000,9.000000,-4.397382e-01,2.000000,0.000000,-1.474446e-01,-2.185860e-01,-7.773411e-02
50%,-1.094756e-01,2.000000,11.000000,-4.757405e-02,6.000000,1.000000,-1.474446e-01,-2.185860e-01,-7.773411e-02
75%,6.518811e-01,2.000000,12.000000,1.128918e+00,9.000000,1.000000,-1.474446e-01,-2.185860e-01,3.396356e-01
max,3.925715e+00,6.000000,15.000000,2.305411e+00,13.000000,1.000000,1.335458e+01,1.055581e+01,4.847229e+00

In [27]:
# Identify correlations between variables
df.corr()

<ipython-input-27-1a939b3f108e>:2: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,age,workclass,education,education-num,occupation,sex,capital-gain,capital-loss,hours-per-week
age,1.000000,0.080540,-0.001111,0.043526,-0.005682,0.081993,0.080154,0.060165,0.101599
workclass,0.080540,1.000000,0.017855,0.037833,0.015572,0.074973,0.035350,0.007204,0.050724
education,-0.001111,0.017855,1.000000,0.345410,-0.038212,-0.027888,0.030575,0.015028,0.059887
education-num,0.043526,0.037833,0.345410,1.000000,0.087717,0.006157,0.124416,0.079646,0.152522
occupation,-0.005682,0.015572,-0.038212,0.087717,1.000000,0.062313,0.022162,0.014607,0.018365
sex,0.081993,0.074973,-0.027888,0.006157,0.062313,1.000000,0.048814,0.047011,0.231268
capital-gain,0.080154,0.035350,0.030575,0.124416,0.022162,0.048814,1.000000,-0.032229,0.080432
capital-loss,0.060165,0.007204,0.015028,0.079646,0.014607,0.047011,-0.032229,1.000000,0.052417
hours-per-week,0.101599,0.050724,0.059887,0.152522,0.018365,0.231268,0.080432,0.052417,1.000000

In [28]:
# Encode categorical variables
cat_cols = ["workclass", "education", "occupation", "sex"]
for col in cat_cols:
    encoder = LabelEncoder()
    df[col] = encoder.fit_transform(df[col])

In [19]:
# Scale numerical variables
num_cols = ["age", "education-num", "capital-gain", "capital-loss", "hours-per-week"]
scaler = StandardScaler()
df[num_cols] = scaler.fit_transform(df[num_cols])

In [29]:
# Step 4: Split the data into training and testing sets
X = df.drop(["annual_income"], axis=1)
y = df["annual_income"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [20]:
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', max_iter=1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [22]:
from sklearn.feature_selection import RFE
from sklearn.linear_model import LogisticRegression

model = LogisticRegression()
rfe = RFE(model, n_features_to_select=10)
X_selected = rfe.fit_transform(X, y)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [30]:
# Step 5: Build a logistic regression model and evaluate its performance
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

In [31]:
print("Accuracy: ", accuracy)
print(report)

# Step 6: Perform hyperparameter tuning
# ...

# Step 7: Use the optimized model to make predictions on new data
# ...

Accuracy:  0.8124654657973257
              precision    recall  f1-score   support

       <=50K       0.83      0.94      0.88      6764
        >50K       0.71      0.44      0.54      2285

    accuracy                           0.81      9049
   macro avg       0.77      0.69      0.71      9049
weighted avg       0.80      0.81      0.80      9049

In [12]:
df.head()

,age,workclass,education,education-num,occupation,sex,capital-gain,capital-loss,hours-per-week,annual_income
0,39,State-gov,Bachelors,13,Adm-clerical,Male,2174,0,40,<=50K
1,50,Self-emp-not-inc,Bachelors,13,Exec-managerial,Male,0,0,13,<=50K
2,38,Private,HS-grad,9,Handlers-cleaners,Male,0,0,40,<=50K
3,53,Private,11th,7,Handlers-cleaners,Male,0,0,40,<=50K
4,28,Private,Bachelors,13,Prof-specialty,Female,0,0,40,<=50K

In [6]:
df = df.drop('fnlwgt', axis=1)

In [7]:
df = df.drop('marital-status', axis=1)

In [8]:
df = df.drop('relationship', axis=1)

In [9]:
df = df.drop('race', axis=1)

In [10]:
df = df.drop('race', axis=1)

KeyError: ignored

In [11]:
df = df.drop('native-country', axis=1)