<a href="https://colab.research.google.com/github/Rahul-Chouhan-407/Practice_and_Assignments/blob/main/Neural_Network_Aignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from keras.models import Sequential
from tensorflow.keras.models import Sequential, Model, load_model, save_model
from tensorflow.keras.layers import Dense, Activation, Dropout, Input, Masking, TimeDistributed, LSTM, Conv1D, Embedding
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import optimizers

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Assignments/Neural Network Assignment - Intellipaat/Worksheet in Assignment - Titanic.xlsx")

In [30]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home_dest
0,1,1,Allen Miss. Elisabeth Walton,female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,St Louis MO
1,1,1,Allison Master. Hudson Trevor,male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,Montreal PQ / Chesterville ON
2,1,0,Allison Miss. Helen Loraine,female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,Montreal PQ / Chesterville ON
3,1,0,Allison Mr. Hudson Joshua Creighton,male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,Montreal PQ / Chesterville ON
4,1,0,Allison Mrs. Hudson J C (Bessie Waldo Daniels),female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,Montreal PQ / Chesterville ON

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home_dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [32]:
df.shape

(1309, 14)

In [33]:
df.describe()

,pclass,survived,age,sibsp,parch,fare,body
count,1309.000000,1309.000000,1046.000000,1309.000000,1309.000000,1308.000000,121.000000
mean,2.294882,0.381971,29.881135,0.498854,0.385027,33.295479,160.809917
std,0.837836,0.486055,14.413500,1.041658,0.865560,51.758668,97.696922
min,1.000000,0.000000,0.166700,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,21.000000,0.000000,0.000000,7.895800,72.000000
50%,3.000000,0.000000,28.000000,0.000000,0.000000,14.454200,155.000000
75%,3.000000,1.000000,39.000000,1.000000,0.000000,31.275000,256.000000
max,3.000000,1.000000,80.000000,8.000000,9.000000,512.329200,328.000000

In [34]:
df.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home_dest     564
dtype: int64

In [35]:
# Remove unnecessary columns
df = df.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home_dest'], axis=1)

In [36]:
# Replace missing values with the mean for the "Age" column
df['age'] = df['age'].fillna(df['age'].mean())

In [37]:
# Replace missing values with the mode for the "Embarked" column
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])

In [38]:
# Convert categorical variables to numerical variables
labelencoder = LabelEncoder()
df['sex'] = labelencoder.fit_transform(df['sex'])
df['embarked'] = labelencoder.fit_transform(df['embarked'])

In [39]:
# Standardize the numerical variables
scaler = StandardScaler()
df[['age', 'fare']] = scaler.fit_transform(df[['age', 'fare']])

In [40]:
# Split the data into training and testing sets
X = df.drop('survived', axis=1)
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [50]:
# Build the neural network model
model = keras.Sequential([
    keras.layers.Dense(32, input_shape=(7,), activation='relu'),
    keras.layers.Dense(16, activation='relu'),
    keras.layers.Dense(1, activation='softmax')
])

In [51]:
# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [62]:
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.4)

Epoch 1/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 2/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 3/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 4/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 5/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 6/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 7/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 8/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 9/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 10/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 11/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 12/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 13/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 14/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 15/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 16/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 17/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 18/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 19/50
20/20 [==============================] - 0s 10ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 20/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 21/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 22/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 23/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 24/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 25/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 26/50
20/20 [==============================] - 0s 12ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 27/50
20/20 [==============================] - 1s 28ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 28/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 29/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 30/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 31/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 32/50
20/20 [==============================] - 0s 10ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 33/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 34/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 35/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 36/50
20/20 [==============================] - 0s 10ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 37/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 38/50
20/20 [==============================] - 0s 10ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 39/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 40/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 41/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 42/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 43/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 44/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 45/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 46/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 47/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 48/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 49/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 50/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229

In [55]:
# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

9/9 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.5496
Test accuracy: 0.5496183037757874