<a href="https://colab.research.google.com/github/Rahul-Chouhan-407/Practice_and_Assignments/blob/main/Neural_Network_Aignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from tensorflow import keras
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler, MinMaxScaler
from keras.models import Sequential
from tensorflow.keras.models import Sequential, Model, load_model, save_model
from tensorflow.keras.layers import Dense, Activation, Dropout, Input, Masking, TimeDistributed, LSTM, Conv1D, Embedding
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import optimizers

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
df = pd.read_excel("/content/drive/MyDrive/Colab Notebooks/Assignments/Neural Network Assignment - Intellipaat/Worksheet in Assignment - Titanic.xlsx")

In [18]:
df.head(10)

   pclass  survived  sex       age  sibsp  parch      fare  embarked
0       1         1    0  0.361169      0      0  0.412503         2
1       1         1    1  0.009395      1      2  0.295806         2
2       1         0    0  0.022964      1      2  0.295806         2
3       1         0    1  0.373695      1      2  0.295806         2
4       1         0    0  0.311064      1      2  0.295806         2
5       1         1    1  0.599165      0      0  0.051822         2
6       1         1    0  0.787056      1      0  0.152164         2
7       1         0    1  0.486430      0      0  0.000000         2
8       1         1    0  0.661795      2      0  0.100481         2
9       1         0    1  0.887265      0      0  0.096626         0

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   pclass    1309 non-null   int64
 1   survived  1309 non-null   int64
 2   sex       1309 non-null   int64
 3   age       1309 non-null   float64
 4   sibsp     1309 non-null   int64
 5   parch     1309 non-null   int64
 6   fare      1309 non-null   float64
 7   embarked  1309 non-null   int64
dtypes: float64(2), int64(6)
memory usage: 81.9 KB

In [20]:
df.shape

(1309, 8)

In [21]:
df.describe()

,pclass,survived,sex,age,sibsp,parch,fare,embarked
count,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000,1309.000000
mean,2.294882,0.381971,0.644003,0.372206,0.498854,0.385027,0.064988,1.493506
std,0.837836,0.486055,0.478997,0.161376,1.041658,0.865560,0.100988,0.814244
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,0.000000,0.000000,0.273486,0.000000,0.000000,0.015412,1.000000
50%,3.000000,0.000000,1.000000,0.372206,0.000000,0.000000,0.028213,2.000000
75%,3.000000,1.000000,1.000000,0.436325,1.000000,0.000000,0.061045,2.000000
max,3.000000,1.000000,1.000000,1.000000,8.000000,9.000000,1.000000,2.000000

In [22]:
df.isnull().sum()

pclass      0
survived    0
sex         0
age         0
sibsp       0
parch       0
fare        0
embarked    0
dtype: int64

In [27]:
# Remove unnecessary columns
df = df.drop(['name', 'ticket', 'cabin', 'boat', 'body', 'home_dest'], axis=1)

KeyError: ignored

In [28]:
# Replace missing values with the mean for the "Age" column
df['age'] = df['age'].fillna(df['age'].mean())

In [29]:
# Replace missing values with the mode for the "Embarked" column
df['embarked'] = df['embarked'].fillna(df['embarked'].mode()[0])
df['fare'] = df['fare'].fillna(df['fare'].mean())

In [30]:
# Convert categorical variables to numerical variables
labelencoder = LabelEncoder()
df['sex'] = labelencoder.fit_transform(df['sex'])
df['embarked'] = labelencoder.fit_transform(df['embarked'])

In [31]:
# Standardize the numerical variables
scaler = MinMaxScaler()
df[['age', 'fare']] = scaler.fit_transform(df[['age', 'fare']])

In [32]:
# Split the data into training and testing sets
X = df.drop('survived', axis=1)
y = df['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [37]:
# Build the neural network model
model = keras.Sequential([
    keras.layers.Dense(32, input_shape=(7,), activation='relu'),
    keras.layers.Dense(16, activation='relu'),
    keras.layers.Dense(1, activation='relu')
])

In [38]:
# Compile the model
model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])

In [39]:
# Train the model
model.fit(X_train, y_train, epochs=50, batch_size=32, validation_split=0.4)

Epoch 1/50

/usr/local/lib/python3.10/dist-packages/tensorflow/python/util/dispatch.py:1176: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return dispatch_target(*args, **kwargs)

20/20 [==============================] - 1s 13ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 2/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229

/usr/local/lib/python3.10/dist-packages/tensorflow/python/util/dispatch.py:1176: SyntaxWarning: In loss categorical_crossentropy, expected y_pred.shape to be (batch_size, num_classes) with num_classes > 1. Received: y_pred.shape=(None, 1). Consider using 'binary_crossentropy' if you only have 2 classes.
  return dispatch_target(*args, **kwargs)

Epoch 3/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 4/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 5/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 6/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 7/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 8/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 9/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 10/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 11/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 12/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 13/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 14/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 15/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 16/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 17/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 18/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 19/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 20/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 21/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 22/50
20/20 [==============================] - 0s 18ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 23/50
20/20 [==============================] - 0s 20ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 24/50
20/20 [==============================] - 0s 22ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 25/50
20/20 [==============================] - 0s 18ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 26/50
20/20 [==============================] - 0s 14ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 27/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 28/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 29/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 30/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 31/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 32/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 33/50
20/20 [==============================] - 0s 9ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 34/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 35/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 36/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 37/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 38/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 39/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 40/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 41/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 42/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 43/50
20/20 [==============================] - 0s 8ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 44/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 45/50
20/20 [==============================] - 0s 6ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 46/50
20/20 [==============================] - 0s 7ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 47/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 48/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 49/50
20/20 [==============================] - 0s 5ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229
Epoch 50/50
20/20 [==============================] - 0s 4ms/step - loss: nan - accuracy: 0.6433 - val_loss: nan - val_accuracy: 0.6229

In [41]:
# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)
print('Test accuracy:', test_acc)

9/9 [==============================] - 0s 2ms/step - loss: nan - accuracy: 0.5496
Test accuracy: 0.5496183037757874