<a href="https://colab.research.google.com/github/Rahul-Chouhan-407/Practice_and_Assignments/blob/main/Pandas_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

In [25]:
s3 = pd.Series([1,2,3,4,5,6,7,8,9])
print(s3.dtype)
s3 = s3.astype('int32')
print(s3.dtype)

int64
int32

In [5]:
import pandas as pd

# Create a Series
data = pd.Series([1, 2, 3, 4, 5])

# Define a custom function
def square(x):
    return x ** 2

# Apply the function to each element in the Series
result = data.apply(square)
print(result)

0     1
1     4
2     9
3    16
4    25
dtype: int64

In [21]:
import pandas as pd

# Create a Series with int64 dtype
data = pd.Series([1, 2, 3, 4, 5], dtype='int64')

# Convert the Series to int32 dtype
data = data.astype('int32')

# Check the data type of the Series
print(data.dtype)  # Output: int32

int32

In [26]:
# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(data)

# Define a custom function
def multiply_by_two(column):
    return column * 2

# Apply the function to each column in the DataFrame
result = data.apply(multiply_by_two)
print(result)

   A  B
0  1  4
1  2  5
2  3  6
   A   B
0  2   8
1  4  10
2  6  12

In [29]:
import pandas as pd

# Create a DataFrame
data = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})

# Define a custom function
def sum_of_row(row):
    return row['A'] + row['B']

# Apply the function to each row in the DataFrame
result = data.apply(sum_of_row, axis=1)
print(result)

0    5
1    7
2    9
dtype: int64

In [45]:
import numpy as np
import pandas as pd
df = pd.read_csv("/content/Hotel Bookings.csv", usecols=['hotel', 'arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month', 'lead_time',	'stays_in_weekend_nights',	'stays_in_week_nights',	'adults',	'children',	'babies', 'country', 'customer_type', 'reservation_status', 'reservation_status_date'], converters = {'arrival_date_month': month_name_to_int}, parse_dates = ["reservation_status_date"])

In [46]:
def month_name_to_int(month_name):
  month_mapping = {'January': 1,'February': 2,'March': 3,'April': 4,'May': 5,'June': 6,'July': 7,'August': 8,'September': 9,'October': 10,'November': 11,'December': 12}
  return month_mapping.get(month_name, month_name)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 14 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   lead_time                  119390 non-null  int64
 2   arrival_date_year          119390 non-null  int64
 3   arrival_date_month         119390 non-null  int64
 4   arrival_date_day_of_month  119390 non-null  int64
 5   stays_in_weekend_nights    119390 non-null  int64
 6   stays_in_week_nights       119390 non-null  int64
 7   adults                     119390 non-null  int64
 8   children                   119390 non-null  int64
 9   babies                     119390 non-null  int64
 10  country                    118902 non-null  object
 11  customer_type              119390 non-null  object
 12  reservation_status         119390 non-null  object
 13  reservation_status_date    119390 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(9), object(4)
memory usage: 12.8+ MB

In [66]:
df.isnull().sum()

hotel                        0
lead_time                    0
arrival_date_year            0
arrival_date_month           0
arrival_date_day_of_month    0
stays_in_weekend_nights      0
stays_in_week_nights         0
adults                       0
children                     0
babies                       0
country                      0
customer_type                0
reservation_status           0
reservation_status_date      0
dtype: int64

In [59]:
df['children'] = df['children'].astype(int)

In [62]:
df.head(15)

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,country,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,342,2015,7,1,0,0,2,0,0,PRT,Transient,Check-Out,2015-07-01
1,Resort Hotel,737,2015,7,1,0,0,2,0,0,PRT,Transient,Check-Out,2015-07-01
2,Resort Hotel,7,2015,7,1,0,1,1,0,0,GBR,Transient,Check-Out,2015-07-02
3,Resort Hotel,13,2015,7,1,0,1,1,0,0,GBR,Transient,Check-Out,2015-07-02
4,Resort Hotel,14,2015,7,1,0,2,2,0,0,GBR,Transient,Check-Out,2015-07-03
5,Resort Hotel,14,2015,7,1,0,2,2,0,0,GBR,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,2015,7,1,0,2,2,0,0,PRT,Transient,Check-Out,2015-07-03
7,Resort Hotel,9,2015,7,1,0,2,2,0,0,PRT,Transient,Check-Out,2015-07-03
8,Resort Hotel,85,2015,7,1,0,3,2,0,0,PRT,Transient,Canceled,2015-05-06
9,Resort Hotel,75,2015,7,1,0,3,2,0,0,PRT,Transient,Canceled,2015-04-22
10,Resort Hotel,23,2015,7,1,0,4,2,0,0,PRT,Transient,Canceled,2015-06-23
11,Resort Hotel,35,2015,7,1,0,4,2,0,0,PRT,Transient,Check-Out,2015-07-05
12,Resort Hotel,68,2015,7,1,0,4,2,0,0,USA,Transient,Check-Out,2015-07-05
13,Resort Hotel,18,2015,7,1,0,4,2,1,0,ESP,Transient,Check-Out,2015-07-05
14,Resort Hotel,37,2015,7,1,0,4,2,0,0,PRT,Transient,Check-Out,2015-07-05

In [49]:
df['children'].fillna(0, inplace=True)

In [65]:
df['country'].fillna("IND", inplace=True)

In [64]:
df.describe()

,lead_time,arrival_date_year,arrival_date_month,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,104.011416,2016.156554,6.552483,15.798241,0.927599,2.500302,1.856403,0.103886,0.007949
std,106.863097,0.707476,3.090619,8.780829,0.998613,1.908286,0.579261,0.398555,0.097436
min,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,18.000000,2016.000000,4.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000
50%,69.000000,2016.000000,7.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000
75%,160.000000,2017.000000,9.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000
max,737.000000,2017.000000,12.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000

In [67]:
df['arrival_date'] = pd.to_datetime(df[['arrival_date_year', 'arrival_date_month', 'arrival_date_day_of_month']])

ValueError: ignored